# codecoverage (if present)
code_coverage

# codeception (if present)
c3.php

# claude (if present)
.claude

# codex (if present)
.codex

# gitHub copilot config (if present)
.github/agents/**
.github/copilot-instructions.md
.github/copilot/**
.github/instructions/**
.github/prompts/**
.github/skills/**

# mac ds_store (if present)
.DS_Store

# netbeans project (if present)
nbproject

# node_modules (if present)
node_modules
package-lock.json

# phpstorm project (if present)
.idea

# phpactor (if present)
.phpactor.*

# phpunit (if present)
.phpunit.cache
.phpunit.result.cache
phpunit.xml*

# vagrant (if present)
.vagrant

# vendor
vendor

# vscode project (if present)
.vscode

# windows thumbnail cache (if present)
Thumbs.db

# zend studio for eclipse project (if present)
.buildpath
.project
.settings
