language: php

php:
  - 5.4
  - 5.5
#  - hhvm # commented until composer or hhvm get fixed: https://github.com/facebook/hhvm/issues/1347

services:
  - redis-server
  - memcached
  - elasticsearch
  - mongodb

install:
  - composer self-update && composer --version
#  - composer require satooshi/php-coveralls 0.6.* --dev --prefer-dist
  - echo 'elasticsearch version ' && curl http://localhost:9200/
  - tests/unit/data/travis/apc-setup.sh
  - tests/unit/data/travis/memcache-setup.sh
  - tests/unit/data/travis/cubrid-setup.sh
  - tests/unit/data/travis/sphinx-setup.sh
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

before_script:
  - mysql -e 'CREATE DATABASE yiitest;';
  - psql -U postgres -c 'CREATE DATABASE yiitest;';
  - mongo yii2test --eval 'db.addUser("travis", "test");'

script:
  - phpunit --coverage-text --coverage-clover tests/unit/runtime/coveralls/clover.xml --verbose --exclude-group mssql,oci,wincache,xcache,zenddata,vendor

#after_script:
#  - php vendor/bin/coveralls
