language: php

php:
  - 5.4
  - 5.5

services:
  - redis-server
  - memcached
  - elasticsearch

before_script:
  - composer self-update && composer --version
  - composer require satooshi/php-coveralls 0.6.* --dev --prefer-dist
  - mysql -e 'CREATE DATABASE yiitest;';
  - mysql -D yiitest -u travis < /home/travis/build/yiisoft/yii2/tests/unit/data/sphinx/source.sql
  - psql -U postgres -c 'CREATE DATABASE yiitest;';
  - echo 'elasticsearch version ' && curl http://localhost:9200/
  - tests/unit/data/travis/apc-setup.sh
  - tests/unit/data/travis/memcache-setup.sh
  - tests/unit/data/travis/cubrid-setup.sh
  - tests/unit/data/travis/sphinx-setup.sh

#script:
#  - phpunit --coverage-clover tests/unit/runtime/coveralls/clover.xml --verbose --exclude-group mssql,oci,wincache,xcache,zenddata,vendor

#after_script:
#  - php vendor/bin/coveralls
