<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Yii2">
    <rule ref="vendor/yiisoft/yii2-coding-standards/Yii2">
        <!-- Yii2 framework supports PHP 5.4, constant visibility was added in PHP 7.1 -->
        <exclude name="PSR12.Properties.ConstantVisibility.NotFound"/>
        <!-- Exclude false positive for PSR12.Files.FileHeader.SpacingAfterBlock -->
        <exclude name="PSR12.Files.FileHeader.SpacingAfterBlock"/>
        <!-- Exclude false positive for PSR12.Files.FileHeader.SpacingAfterDocblockBlock -->
        <exclude name="PSR12.Files.FileHeader.SpacingAfterDocblockBlock"/>
        <!-- Exclude false positive for PSR12.Files.FileHeader.SpacingAfterTagBlock -->
        <exclude name="PSR12.Files.FileHeader.SpacingAfterTagBlock"/>
    </rule>

    <!-- TODO: fix errors -->
    <rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>

    <!-- TODO: fix errors -->
    <rule ref="Squiz.NamingConventions.ValidVariableName.PrivateNoUnderscore">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>

    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>tests/bootstrap.php</exclude-pattern>
        <exclude-pattern>tests/framework/web/UserTest.php</exclude-pattern>
    </rule>

    <rule ref="Internal.NoCodeFound">
        <exclude-pattern>tests/data/views/simple.php</exclude-pattern>
    </rule>

    <!-- display progress -->
    <arg value="p"/>
    <!-- Show error codes -->
    <arg value="s"/>
    <arg name="colors"/>

    <!-- generate relative paths -->
    <arg name="basepath" value="."/>

    <!-- Exclude files and directories -->
    <exclude-pattern>framework/caching/migrations/*</exclude-pattern>
    <exclude-pattern>framework/i18n/migrations/*</exclude-pattern>
    <exclude-pattern>framework/log/migrations/*</exclude-pattern>
    <exclude-pattern>framework/rbac/migrations/*</exclude-pattern>
    <exclude-pattern>framework/views/*</exclude-pattern>
    <exclude-pattern>framework/web/migrations/*</exclude-pattern>
    <exclude-pattern>tests/data/views/*</exclude-pattern>
    <exclude-pattern>tests/js/*</exclude-pattern>
    <exclude-pattern>tests/runtime/*</exclude-pattern>
</ruleset>
