includes:
    - phpstan-baseline.neon

parameters:
    level: 1

    paths:
        - build
        - framework

    bootstrapFiles:
        - framework/BaseYii.php

    dynamicConstantNames:
        - YII_DEBUG
        - YII_ENV
        - YII_ENV_DEV
        - YII_ENV_PROD
        - YII_ENV_TEST

    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
