<?xml version="1.0" encoding="utf-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  backupGlobals="true"
  bootstrap="./tests/bootstrap.php"
  cacheDirectory=".phpunit.cache"
  colors="true"
  executionOrder="default"
  failOnRisky="true"
  failOnWarning="true"
  stderr="true"
  stopOnFailure="false"
>
  <testsuites>
    <testsuite name="Yii2">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">framework</directory>
    </include>
    <exclude>
      <file>framework/.phpstorm.meta.php</file>
      <file>framework/i18n/GettextFile.php</file>
      <file>framework/web/ResponseFormatterInterface.php</file>
      <directory suffix=".php">framework/bootstrap</directory>
      <directory suffix=".php">framework/messages</directory>
      <directory suffix=".php">framework/rbac/migrations</directory>
      <directory suffix=".php">framework/requirements</directory>
      <directory suffix="Exception.php">framework/base</directory>
    </exclude>
  </source>
</phpunit>
