body
{
}

body, div, span, p, input
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: #333333;
}

#apiPage {
}

#apiHeader {
	padding: 3px;
	color: white;
	background: #6078BF;
	margin-bottom: 5px;
	font-weight: bold;
}

#apiHeader a {
	color: white;
}

#apiFooter {
	margin-top: 5px;
	padding: 3px;
	border-top: 1px solid #BFCFFF;
	text-align: center;
}
