# docker-compose test environment

# Configuration files
COMPOSE_FILE=docker-compose.yml:docker-compose.mysql.yml:docker-compose.pgsql.yml:docker-compose.caching.yml

# Image versions
DOCKER_YII2_PHP_IMAGE=yiisoftware/yii2-php:7.2-apache
DOCKER_MYSQL_IMAGE=percona:5.7
DOCKER_POSTGRES_IMAGE=postgres
