span.indent {
	color: #ccc;
}

ul.trace {
	font-size: 12px;
	color: #999;
	margin: 2px 0 0 0;
	padding: 0;
	list-style: none;
	white-space: normal;
}

.callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.callout {
	margin: 0 0 10px 0;
	padding: 5px;
}

.list-group .glyphicon {
	float: right;
}

td, th {
	white-space: pre-line;
	word-wrap: break-word;
}
