span.indent {
	color: #ccc;
}

ul.trace {
	font-size: 12px;
	color: #999;
	margin: 2px 0 0 0;
	padding: 0;
	list-style: none;
	white-space: normal;
}

.callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.callout {
	margin: 0 0 10px 0;
	padding: 5px;
}

.list-group .glyphicon {
	float: right;
}

td, th {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.request-table td {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	word-break: break-all;
}

.config-php-info-table td.v {
	word-break: break-all;
}

.not-set {
	color: #c55;
	font-style: italic;
}

.detail-grid-view th {
    white-space: nowrap;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.mail-sorter {
	margin-top: 7px;
}

.mail-sorter li {
	list-style: none;
	float: left;
	width: 12%;
	font-weight: bold;
}
