body {
	padding-top: 70px;
}

.footer {
	border-top: 1px solid #ddd;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.navbar-brand {
	padding: 0 15px;
}

.default-index .generator {
	min-height: 200px;
	margin-bottom: 20px;
}

.list-group .glyphicon {
	float: right;
	margin-right: -15px;
}

.popover {
	max-width: 400px;
	width: 400px;
}

.hint-block {
	display: none;
}

.default-view .sticky-value {
	padding: 6px 12px;
	background: lightyellow;
}

.default-view .modal-dialog {
	width: 800px;
}

.default-view .modal-dialog .error {

}

.default-view .modal-dialog .error {
	color: #d9534f;
}

.default-view .modal-dialog .content {
	background: #fafafa;
	border-left: #eee 5px solid;
	padding: 5px 10px;
	overflow: auto;
}

.default-view .modal-dialog code {
	background: transparent;
}

.default-view-files table .file {

}

.default-view-files table .action {
	width: 100px;
}

.default-view-files table .check {
	width: 25px;
	text-align: center;
}

.default-view-results pre {
	overflow: auto;
	background-color: #333;
	max-height: 300px;
	color: white;
	padding: 10px;
	border-radius: 0;
	white-space: nowrap;
}

.default-view-results pre .error {
	background: #FFE0E1;
	color: black;
	padding: 1px;
}

.default-diff pre {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
}

.default-diff pre del {
	background: pink;
}

.default-diff pre ins {
	background: lightgreen;
	text-decoration: none;
}
