body {
	padding-top: 70px;
}

.footer {
	border-top: 1px solid #ddd;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.navbar-brand {
	padding: 0 15px;
}

.default-index .generator {
	min-height: 200px;
	margin-bottom: 20px;
}

.list-group .glyphicon {
	float: right;
	margin-right: -15px;
}

.popover {
	max-width: 400px;
	width: 400px;
}

.hint-block {
	display: none;
}

table.code-files .file {

}

table.code-files .action {
	width: 100px;
}

table.code-files .check {
	width: 25px;
	text-align: center;
}
