---
name: build

permissions:
  contents: read
  pull-requests: write

on:
  - pull_request
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PHP_EXTENSIONS: apcu, curl, dom, imagick, intl, mbstring, mcrypt, memcached
  PHP_INI_VALUES: apc.enabled=1,apc.shm_size=32M,apc.enable_cli=1, date.timezone='UTC'
  PHPUNIT_EXCLUDE_GROUP: db,wincache

jobs:
  phpunit:
    name: PHP ${{ matrix.php }}

    runs-on: ubuntu-latest

    services:
      memcached:
        image: memcached:latest
        ports:
          - 11211:11211
        options: >-
          --health-cmd "timeout 5 bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/11211'"
          --health-interval 10s
          --health-retries 5
          --health-timeout 5s

    strategy:
      fail-fast: false
      matrix:
        php: [8.1, 8.2, 8.3, 8.4]

    steps:
      - name: Checkout.
        uses: actions/checkout@v5

      - name: Generate french locale.
        run: sudo locale-gen fr_FR.UTF-8

      - name: Setup PHP with Composer.
        uses: ./.github/actions/php-setup
        with:
          coverage-driver: pcov
          extensions: ${{ env.PHP_EXTENSIONS }}
          ini-values: ${{ env.PHP_INI_VALUES }}, session.save_path="${{ runner.temp }}"
          php-version: ${{ matrix.php }}

      - name: Run PHPUnit tests.
        uses: ./.github/actions/phpunit
        with:
          coverage-driver: pcov
          coverage-token: ${{ secrets.CODECOV_TOKEN }}
          exclude-group: ${{ env.PHPUNIT_EXCLUDE_GROUP }}

  phpunit-dev:
    name: PHP ${{ matrix.php }}

    runs-on: ubuntu-latest

    services:
      memcached:
        image: memcached:latest
        ports:
          - 11211:11211
        options: >-
          --health-cmd "timeout 5 bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/11211'"
          --health-interval 10s
          --health-retries 5
          --health-timeout 5s

    strategy:
      fail-fast: false
      matrix:
        php: [8.5, 8.6]

    steps:
      - name: Checkout.
        uses: actions/checkout@v5

      - name: Generate french locale.
        run: sudo locale-gen fr_FR.UTF-8

      - name: Setup PHP with Composer.
        uses: ./.github/actions/php-setup
        with:
          extensions: ${{ env.PHP_EXTENSIONS }}
          ignore-platform-reqs: true
          ini-values: ${{ env.PHP_INI_VALUES }}, session.save_path="${{ runner.temp }}"
          php-version: ${{ matrix.php }}

      - name: Run PHPUnit tests.
        uses: ./.github/actions/phpunit
        with:
          exclude-group: ${{ env.PHPUNIT_EXCLUDE_GROUP }}
