name: ci-oracle

permissions:
  contents: read
  pull-requests: write

on:
  pull_request: &ignore-paths
    paths-ignore:
      - ".appveyor.yml"
      - ".dockerignore"
      - ".editorconfig"
      - ".git-blame-ignore-revs"
      - ".gitattributes"
      - ".github/CONTRIBUTING.md"
      - ".github/FUNDING.yml"
      - ".github/ISSUE_TEMPLATE.md"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".github/SECURITY.md"
      - ".gitignore"
      - ".gitlab-ci.yml"
      - "code-of-conduct.md"
      - "docs/**"
      - "framework/.gitignore"
      - "framework/.phpstorm.meta.php"
      - "framework/CHANGELOG.md"
      - "framework/LICENSE.md"
      - "framework/README.md"
      - "framework/UPGRADE.md"
      - "eslint.config.js"
      - "LICENSE.md"
      - "README.md"
      - "ROADMAP.md"

  push: *ignore-paths

jobs:
  tests:
    name: Oracle tests with coverage
    uses: yiisoft/yii2-actions/.github/workflows/database.yml@master
    with:
      concurrency-group: oracle-${{ github.ref }}
      coverage-driver: xdebug
      database-env: '{"ORACLE_ALLOW_REMOTE":"true"}'
      database-health-cmd: "bash -lc 'echo > /dev/tcp/localhost/1521'"
      database-health-retries: 60
      database-image: wnameless/oracle-xe-11g-r2
      database-port: "1521"
      database-type: oracle
      database-versions: '["latest"]'
      extensions: curl, intl, oci8, pdo, pdo_oci
      os: '["ubuntu-latest"]'
      php-version: '["7.4"]'
      phpunit-group: oci
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
