---
name: ci-oracle

permissions:
  contents: read
  pull-requests: write

on:
  - pull_request
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: PHP ${{ matrix.php }}-oci

    env:
      COVERAGE_DRIVER: ${{ matrix.php == 7.4 && 'xdebug' || 'none' }}
      PHP_EXTENSIONS: curl, intl, oci8, pdo, pdo_oci
      PHP_INI_VALUES: apc.enabled=1,apc.shm_size=32M,apc.enable_cli=1, date.timezone='UTC'
      PHPUNIT_GROUP: oci
      XDEBUG_MODE: coverage

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [7.4]

    services:
      oci:
        image: wnameless/oracle-xe-11g-r2:latest
        ports:
          - 1521:1521
        options: >-
          --name=oci

    steps:
      - name: Checkout.
        uses: actions/checkout@v5

      - name: Setup PHP with Composer.
        uses: ./.github/actions/php-setup
        with:
          coverage-driver: ${{ env.COVERAGE_DRIVER }}
          extensions: ${{ matrix.php < 8.0 && 'apc' || 'apcu' }}, ${{ env.PHP_EXTENSIONS }}
          ini-values: ${{ env.PHP_INI_VALUES }}, session.save_path="${{ runner.temp }}"
          php-version: ${{ matrix.php }}

      - name: Run PHPUnit tests.
        uses: ./.github/actions/phpunit
        with:
          coverage-driver: ${{ env.COVERAGE_DRIVER }}
          coverage-token: ${{ secrets.CODECOV_TOKEN }}
          group: ${{ env.PHPUNIT_GROUP }}
