---
name: lint

permissions:
  contents: read
  pull-requests: write

on:
  - pull_request
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  phpcs:
    runs-on: ubuntu-latest

    name: PHP ${{ matrix.php }}-PHP_CodeSniffer

    strategy:
      fail-fast: false
      matrix:
        php: [8.2]

    steps:
      - name: Checkout.
        uses: actions/checkout@v5

      - name: Setup PHP with Composer.
        uses: ./.github/actions/php-setup
        with:
          php-version: ${{ matrix.php }}
          tools: cs2pr

      - name: Run PHP_CodeSniffer.
        run: vendor/bin/phpcs -q --report=checkstyle framework/ | cs2pr
